<!DOCTYPE html>
<html>
  <head>
    <meta name="parsely-author" content="jon rain" />
    <meta name="parsely-title" content="this is a changed post id 7" />
    <meta name="parsely-link" content="https://newprofile-production.up.railway.app/testing/" />
    <meta name="parsely-type" content="post" />
    <meta name="parsely-image-url" content="https://www.example.com/tony-stark.png" />
    <meta name="parsely-pub-date" content="2025-05-22T18:01:00Z" />
    <meta name="parsely-section" content="not news" />
    <meta name="parsely-tags" content="editor: dewar" />
    <meta name="parsely-post-id" content="this is a changed post id 7" />


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Testing Page</title>
  </head>
  <body>
    <h1>Testing Page</h1>
    <p>This is a bare HTML page for testing analytics tools.</p>
    <script id="parsely-cfg" src="//cdn.parsely.com/keys/staticclimbingsite.netlify.app/p.js" async="" defer=""></script>
  </body>
</html>
